@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
 li a.active{
    background-color:#FFCD29 ;
    color: black;
}


@keyframes flip {
    0% {
      transform: rotateY(180deg);
    }
    25% {
      transform: rotateY(-180deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    75% {
      transform: rotateY(-180deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }
  
  .logo {
   
    animation: flip 4s ease-in-out infinite;
  }
  @media (min-width: 1536px) {
    .divAfter {
      /* Apply styles for 2xl and larger screens */
      position: relative;
    }
    .divAfter::after {
      /* Apply the pseudo-element for 2xl and larger screens */
      content: '';
      background-color: #FFCD29;
      width: 5px;
      height: 915px;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
  